*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
/* All Common CSS End  */

.header{
    background: rgb(49, 73, 73);
}
.menu{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}
.menu ul li{
    display: inline-block;
}

.menu ul li a{
    color: #fff;
    font-size: 20px;
    line-height: 100px;
    padding: 0px 15px;
    text-transform: uppercase;
    font-family: 'Kablammo', cursive;

}
.p_center{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}
.banner{
    padding: 300px 0;
    background: tomato;
}
.p_center p {
	font-size: 18px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	padding: 0 188px;
	line-height: 34px;
}